.container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}
main{
  width: 100%;
  padding: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 20vw;
  background-color: #1bc1cd;
  border-right: 1px solid #E1E3E6;
}


.top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color:#ff8c00;
  border-bottom: 1px solid #E1E3E6;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.bars {
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: #333;
  transition: background-color 0.2s ease;
}

.link:hover {
  background-color: #E1E3E6;
}

.link.active {
  background-color: #E1E3E6;
}

.icon {
  font-size: 1.2rem;
}

.link-text {
  font-size: 1.1rem;
  font-weight: bold;
}



.dashboard {
  padding: 1rem;
  border: 1px solid #727272;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.summary {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.task-summary,
.project-summary {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.summary-item {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-item-header {
  margin-bottom: 1rem;
}

.summary-item-header h4 {
  font-size: 1.2rem;
  margin: 0;
}

.task-summary .summary-item-body {
  font-size: 1.5rem;
  font-weight: bold;
  color: #b652a4;
}

.project-summary .summary-item-body {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff8c00;
}
.tasks {
  margin: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.add-task-btn {
  display: flex;
  align-items: center;
  background-color: #00a1ff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.add-task-btn:hover {
  background-color: #008ee0;
}

.tasks-search {
  margin-bottom: 1rem;
}

.tasks-table {
  width: 100%;
  border-collapse: collapse;
}

.tasks-table th,
.tasks-table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ccc;
}

.tasks-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.tasks-table tbody tr:hover {
  background-color: #f0f0f0;
}
